<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Productos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
</head>
<body>
<div class="main-container d-flex">
    <!--SIDEBAR-->
    <div th:replace="/layouts/sidebar-trainer :: sidebar-trainer"></div>

    <div class="content">
        <!--NAV-DASH-->
        <nav th:replace="/layouts/nav-dash :: nav-dash"></nav>

        <div class="dashboard-content px-3 pt-4">
            <h2 class="fs-3">Horarios</h2>

            <div class="table-responsive">
                <table id="horarioTarde" class="table table-bordered table-striped text-center">
                    <thead>
                    <th>HORA</th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIERCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5:00 AM - 7:00 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7:00 AM - 9:00 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9:00 AM - 11:00 AM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>11:00 AM - 12:00 PM</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Descanso</td>
                        <td><i class="fa-solid fa-utensils"></i></td>
                        <td><i class="fa-solid fa-utensils"></i></td>
                        <td><i class="fa-solid fa-utensils"></i></td>
                        <td><i class="fa-solid fa-utensils"></i></td>
                        <td><i class="fa-solid fa-utensils"></i></td>
                    </tr>
                    <tr>
                        <td>3:00 PM - 5:00 PM</td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                    </tr>
                    <tr>
                        <td>5:00 PM - 7:00 PM</td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                    </tr>
                    <tr>
                        <td>7:00 PM - 9:00 PM</td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                        <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-6"></div>
                <div class="col-2">
                    <a th:href="@{/trainer/perfil}" class="btn btn-secondary">
                        <i class="fas fa-angle-double-right"></i> Volver
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>

<!--SCRIPT SIDEBAR-->
<script th:replace="/layouts/script-sidebar :: script-sidebar"></script>

<!--SCRIPTS BOTONES-->
<div th:replace="/layouts/scripts :: scripts"></div>


</body>
</html>