<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
</head>
<body>
    <div th:fragment="horario-tarde"  class="table-responsive">
        <table id="horario" class="table table-bordered table-striped text-center">
            <thead>
            <th>HORA</th>
            <th>LUNES</th>
            <th>MARTES</th>
            <th>MIERCOLES</th>
            <th>JUEVES</th>
            <th>VIERNES</th>
            </thead>
            <tbody>
            <tr>
                <td>3:00 PM - 5:00 PM</td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
            </tr>
            <tr>
                <td>5:00 PM - 7:00 PM</td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
            </tr>
            <tr>
                <td>7:00 PM - 9:00 PM</td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
                <td><i class="fa-solid fa-square-check" style="color: darkgreen"></i></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="6">📢 Este horario solo aplica para los Entrenadores 📢</td>
            </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>