<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NAV-DASH</title>
</head>
<body>
  <nav th:fragment="nav-dash" class="navbar navbar-expand-md navbar-ligth bg-light">
    <div class="container-fluid">
      <div class="d-flex justify-content-between d-md-none d-block">
        <button class="btn px-1 py-0 open-btn me-2">
          <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand fs-4" href="#"> <span class="bg-dark rounded px-2 py-0 text-white">DB</span></a>

      </div>

      <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>