<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Scripts</title>
</head>
<body>
  <div th:fragment="scripts">

    <script src="/js/dataTable/dataTables.buttons.min.js"></script>
    <script src="/js/dataTable/buttons.flash.min.js"></script>
    <script src="/js/dataTable/jszip.min.js"></script>
    <script src="/js/dataTable/pdfmake.min.js"></script>
    <script src="/js/dataTable/vfs_fonts.js"></script>
    <script src="/js/dataTable/buttons.html5.min.js"></script>


  </div>
</body>
</html>
