<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Fact Pedidos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
</head>
<body>
    <div class="main-container d-flex">
        <!--SIDEBAR-->
        <div th:replace="/layouts/sidebar :: sidebar"></div>

        <div class="content">
            <!--NAV-DASH-->
            <nav th:replace="/layouts/nav-dash :: nav-dash"></nav>

            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-5">Facturación de Pedidos</h2>

                <div class="table-responsive">
                    <table id="tablaPedidos" class="table table-bordered">

                        <thead>
                        <tr>
                            <th>Id Pedido</th>
                            <th>Fecha</th>
                            <th>ID Cliente</th>
                            <th>Nombre de Cliente</th>
                            <th>Producto</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Método de Pago</th>
                            <th>Acciones</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pedido : ${pedidos}">
                            <td th:text="${pedido.id_pedido}"></td>
                            <td th:text="${#dates.format(pedido.compra.fecha_compra, 'dd-MMM-yyyy')}"></td>
                            <td th:text="${pedido.compra.id_cliente.tipo_documento+' - '+pedido.compra.id_cliente.documentoC}"></td>
                            <td th:text="${pedido.compra.id_cliente.nombre+' '+pedido.compra.id_cliente.apellido}"></td>
                            <td th:text="${pedido.producto.nombre}"></td>
                            <td th:text="${pedido.producto.precio}"></td>
                            <td th:text="${pedido.cantidad}"></td>
                            <td th:text="${(pedido.cantidad*pedido.producto.precio)}"></td>
                            <td th:text="${pedido.compra.id_metodopago.descripcion}"></td>

                            <td>
                                <a th:href="@{/admin/dash-fact-productos/expand/}+${pedido.id_pedido}" style="text-decoration: none">
                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <!--SCRIPT SIDEBAR-->
    <script th:replace="/layouts/script-sidebar :: script-sidebar"></script>

    <!--SCRIPTS BOTONES Y DATATABLE-->
    <div th:replace="/layouts/scripts :: scripts"></div>

    <!--SCRIPT DATATABLE-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaPedidos').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ],
            });
        });
    </script>
</body>
</html>