<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Clientes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>


    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">
</head>
<body>
    <div class="main-container d-flex">
        <!--SIDEBAR-->
        <div th:replace="/layouts/sidebar-trainer :: sidebar-trainer"></div>

        <div class="content">
            <!--NAV-DASH-->
            <nav th:replace="/layouts/nav-dash :: nav-dash"></nav>

            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-3">Lista de Clientes Asignados</h2>


                <div class="table-responsive">
                    <table id="tablaUsuarios" class="table table-bordered">

                        <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombres</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th>Fecha Nacimiento</th>
                            <th>Email</th>
                            <th>Foto</th>
                            <th>Jornada</th>
                            <th>Acciones</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="ce : ${clientesAsignados}">
                            <div th:if="${ce.cliente.estado == true}">

                                <td th:text="${ce.cliente.tipo_documento}+' - '+${ce.cliente.documentoC}"></td>
                                <td th:text="${ce.cliente.nombre}"></td>
                                <td th:text="${ce.cliente.apellido}"></td>
                                <td th:text="${ce.cliente.telefono}"></td>
                                <td th:text="${#dates.format(ce.cliente.fechaN, 'dd-MMM-yyyy')}"></td>
                                <td th:text="${ce.cliente.email}"></td>
                                <td th:text="${ce.cliente.foto}"></td>
                                <td th:text="${ce.cliente.jornada}"></td>

                                <td>

                                    <a th:href="@{/trainer/dash-clientes/expand/} + ${ce.cliente.id_cliente}" style="text-decoration: none">
                                        <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                                    </a>
                                </td>
                            </div>
                        </tr>
                        </tbody>

                    </table>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!--SCRIPT SIDEBAR-->
    <script th:replace="/layouts/script-sidebar :: script-sidebar"></script>

    <!--SCRIPTS BOTONES Y DATATABLE-->
    <div th:replace="/layouts/scripts :: scripts"></div>

    <!--SCRIPT DATATABLE-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaUsuarios').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ],
            });
        });
    </script>

</body>
</html>