<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Clientes</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.15/media/js/jquery.dataTables.min.js}"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
</head>
<body>
    <div class="main-container d-flex">
        <!--SIDEBAR-->
        <div th:replace="/layouts/sidebar :: sidebar"></div>

        <div class="content">
            <!--NAV-DASH-->
            <nav th:replace="/layouts/nav-dash :: nav-dash"></nav>

            <div class="dashboard-content px-3 pt-4">


                <div class="card border-light">
                    <div class="card-header">
                        <h3 class="card-title">Datos del cliente</h3>
                    </div>
                    <div class="card-body">

                        <form th:action="@{/admin/dash-clientes/expand/guardar}" th:object="${cliente}" method="POST">
                            <input type="hidden" name="documentoC" th:field="*{documentoC}"/>
                            <input type="hidden" name="tipo_documento" th:field="*{tipo_documento}"/>
                            <input type="hidden" name="rol" th:field="*{id_rol}"/>

                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">

                                                <div class="form-group">
                                                    <label for="tdocumento">Tipo de Documento: </label>
                                                    <input type="text" class="form-control" name="tdocumento" id="tdocumento"
                                                           disabled th:field="*{tipo_documento}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="documento">Documento: </label>
                                                    <input type="text" class="form-control" name="documento" id="documento"
                                                           disabled th:field="*{documentoC}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="nombre">Nombre: </label>
                                                    <input type="text" class="form-control" name="nombre" id="nombre"
                                                           required="true" th:field="*{nombre}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="apellido">Apellido: </label>
                                                    <input type="text" class="form-control" name="apellido" id="apellido"
                                                           required="true" th:field="*{apellido}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="telefono">Telefono: </label>
                                                    <input type="text" class="form-control" name="telefono" id="telefono"
                                                           required="true" th:field="*{telefono}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="fechan">Fecha Nacimiento: </label>
                                                    <input type="date" class="form-control" name="fechan" id="fechan"
                                                           required="true" th:field="*{fechaN}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label for="email">Email: </label>
                                                    <input type="email" class="form-control" name="email" id="email"
                                                           required="true" th:field="*{email}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="pass">Contraseña: </label>
                                                    <input type="text" class="form-control" name="pass" id="pass"
                                                           required="true" th:field="*{password}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="foto">Foto: </label>
                                                    <input type="text" class="form-control" name="foto" id="foto"
                                                           required="true" th:field="*{foto}"/>
                                                </div>
                                                <div class="form-group">
                                                    <label for="jornada">Jornada: </label>
                                                    <input type="text" class="form-control" name="jornada" id="jornada"
                                                           required="true" th:field="*{jornada}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="trainer">Entrenador: </label>
                                                    <input type="text" class="form-control" name="trainer" id="trainer"
                                                           readonly th:value="${trainer.documentoE+' - '+trainer.entrenador.nombre+' '+trainer.entrenador.apellido}"/>
                                                </div>

                                                <div class="form-group">
                                                        <label for="plan">Plan: </label>
                                                    <input type="text" class="form-control" name="plan" id="plan"
                                                           readonly th:value="${'Plan '+plancliente.detalle.id_detalle+' - '+plancliente.detalle+' Meses'}"/>
                                                </div>

                                                <div class="form-group">
                                                    <label for="rutina">Rutina: </label>
                                                    <input type="text" class="form-control" name="rutina" id="rutina"
                                                           readonly th:value="${'Rutina '+plancliente.detalle.id_plan.descripcion}"/>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-2">
                                        <a th:href="@{/admin/dash-clientes/expand/}+${cliente.documentoC}" class="btn btn-dark btn-block">
                                            <i class="fas fa-arrow-left"></i> Regresar
                                        </a>
                                    </div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fas fa-check"></i> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>

            </div>
            <div class="dashboard-content px-3 pt-4">
                <div class="card border-light">
                    <div class="card-header">
                        <h3 class="card-title">Cambio de entrenador</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/dash-clientes/expand/guardar-trainer}" th:object="${trainer}" method="POST">
                            <input type="text" readonly name="documentoC" th:field="*{cliente}"/>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="entrenador" class="form-label">Entrenador: *</label>
                                        <select name="entrenador" id="entrenador" required class="form-control mi-selector ">

                                            <div th:each="entrenador : ${trainers}">
                                                <option th:value="${entrenador.documentoE}" th:text="${entrenador.documentoE+' - '+entrenador.nombre+' '+entrenador.apellido}"></option>
                                            </div>
                                        </select> <br>

                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div><br>



                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-2"></div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fas fa-check"></i> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="dashboard-content px-3 pt-4">
                <div class="card border-light">
                    <div class="card-header">
                        <h3 class="card-title">Actualización de Plan</h3>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/admin/dash-clientes/expand/guardar-plan}" th:object="${plancliente}" method="POST">

                            <input type="text" readonly name="documentoC" th:field="*{cliente}"/>
                            <input type="text" readonly name="fecha_inicio" th:field="*{fecha_inicio}"/>

                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="plann" class="form-label">Plan: *</label>
                                        <select name="plann" id="plann"  required class=" mi-selector form-control ">

                                            <div th:each="plane : ${planesdetallados}">
                                                <option th:value="${plane.id_detalle}" th:text="${plane}"></option>

                                            </div>
                                        </select> <br>

                                    </div>
                                </div>
                                <div class="col-2"></div>
                            </div><br>



                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8"></div>
                                    <div class="col-2"></div>
                                    <div class="col-2">
                                        <button type="submit" class="btn btn-success btn-block">
                                            <i class="fas fa-check"></i> Guardar
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <!--SCRIPT SIDEBAR-->
    <script th:replace="/layouts/script-sidebar :: script-sidebar"></script>
    <script>
        jQuery(document).ready(function($){
            $(document).ready(function() {
                $('.mi-selector').select2();
            });
        });
    </script>

</body>
</html>