<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dash-Productos</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css"/>
    <link href="/css/dataTable/buttons.dataTables.min.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/datatables/1.10.20/media/js/jquery.dataTables.min.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/dash-style.css" />
</head>
<body>
    <div class="main-container d-flex">
        <!--SIDEBAR-->
        <div th:replace="/layouts/sidebar :: sidebar"></div>

        <div class="content">
            <!--NAV-DASH-->
            <nav th:replace="/layouts/nav-dash :: nav-dash"></nav>

            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-3">Lista de Productos Activos</h2> <br>

                <a href="#" class="btn btn-secondary"
                   data-bs-toggle="modal" data-bs-target="#agregar-producto">
                    <i class="fas fa-plus"></i> Agregar Producto
                </a>

                <section th:replace="/layouts/agregar-producto :: agregar-producto"></section> <br>


                <div class="table-responsive">
                    <table id="tablaProductos" class="table table-bordered">

                        <thead>
                        <tr>
                            <th>Id Producto</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Proveedor</th>
                            <th>Acciones</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${productos}">
                            <td th:text="${producto.id_producto}"></td>
                            <td th:text="${producto.nombre}"></td>
                            <td th:text="${producto.stock}"></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.id_proveedor.nombre_empresa}"></td>

                            <td>
                                <a th:href="@{/admin/dash-productos/expand/} + ${producto.id_producto}" style="text-decoration: none">
                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                                </a>

                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>

            <div class="dashboard-content px-3 pt-4">
                <h2 class="fs-3">Lista de Productos Desactivados</h2> <br>

                <a href="#" class="btn btn-secondary"
                   data-bs-toggle="modal" data-bs-target="#agregar-producto">
                    <i class="fas fa-plus"></i> Agregar Producto
                </a>

                <section th:replace="/layouts/agregar-producto :: agregar-producto"></section> <br>


                <div class="table-responsive">
                    <table id="tablaProductosDesactivados" class="table table-bordered">

                        <thead>
                        <tr>
                            <th>Id Producto</th>
                            <th>Nombre</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Proveedor</th>
                            <th>Acciones</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="producto : ${productossDesactivados}">
                            <td th:text="${producto.id_producto}"></td>
                            <td th:text="${producto.nombre}"></td>
                            <td th:text="${producto.stock}"></td>
                            <td th:text="${producto.precio}"></td>
                            <td th:text="${producto.id_proveedor.nombre_empresa}"></td>

                            <td>
                                <a th:href="@{/admin/dash-productos/expand/} + ${producto.id_producto}" style="text-decoration: none">
                                    <i class="fa-solid fa-arrow-up-right-from-square" style="color:black"></i>
                                </a>

                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>


        </div>
    </div>

    <!--SCRIPT SIDEBAR-->
    <script th:replace="/layouts/script-sidebar :: script-sidebar"></script>

    <!--SCRIPTS BOTONES-->
    <div th:replace="/layouts/scripts :: scripts"></div>

    <!--SCRIPT DATATABLE-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tablaProductos').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'excel', 'pdf'
                ],
            });
        });
    </script>

</body>
</html>